# This is the config file for IDs & Keys, each game has its unique ID & Keys
# This file will be replaced to correct config file during decompiled

# Store common config
id_proxy_config=7649
key_proxy_config=8902249d-f1d1-4ca9-bd06-d4cb8bcc034b
secret_proxy_config=ff97ad47-3fb1-4136-86c2-550b1ec8c03c

#JM backend config
package_proxy_config=package_id
channel_proxy_config=740288
game_channel_proxy_config=740288
sdk_id_proxy_config=7649
